.Updates{
    display:flex;
    flex-direction: column;
    width: 85%;
    background: white;
    border-radius: 0.7rem;
    padding: 1rem;
    gap: 1rem;
    font-size: 13px;
}

.update{
    display: flex;
    gap: 0.5rem;
}

.profilePic{
    width: 3.2rem;
    height: 3.2rem;
}

.notification>div>span:nth-of-type(1){
    font-weight: bold;
}
@media screen and (max-width: 768px){
    .Updates{
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        border-radius: 1.3rem;
    }
}